body {
    background-color: #00091b;
    font-family: "Trebuchet MS", sans-serif;
    color: rgb(206, 208, 206);
    text-align: center;
    margin: auto;

}
.projects {
    width: 70%;
    border-radius: 16px;
    box-shadow: 8px;
    text-align: center;
    margin: auto;
    padding: 10px;
}

.card {
    width: 50%;
    margin: 20px auto;
    padding: 10px;
    background-color: #23291f;
    border: solid 2pt #000000;
    border-radius: 8px;
}

.card h2{
    text-decoration: solid;
    color: rgb(206, 208, 206);
}

.card a{
    display:inline-block;
    border: solid black 1pt;
    text-decoration: solid;
    color: rgb(206, 208, 206);
    padding: 8px;
    margin-bottom: 8px;
}

.card a:hover{
    color: black;
    cursor: pointer;
}