html{
    height:100%;
    width:100%;
    padding:0;
    margin:0;
}

body {
    background: linear-gradient(rgb(23, 0, 0),rgb(0, 0, 17));   
    font-family: "Candara", sans-serif;
    color: rgb(231, 231, 231);
    text-align: center;
    margin: auto;
}

.welcome {
    width: 79%;
    height: 100%;
    padding: 5px;
    margin: 25px auto;
    border-radius: 8px;
    background-color: rgb(25, 9, 13);
}

.welcome h1{
    color: rgb(194, 194, 194);
}

.social {
    width: 45%;
    padding: 0px;
    display: flex;
    justify-content:space-evenly;
    margin: 20px auto;
}

.social a{
    color: rgb(199, 199, 199);
    text-decoration: none;
    border-radius: 8px;
    padding: 5px;
    background-color: rgb(24, 24, 24);
}

.social a:hover{
    cursor: pointer;
    color:grey;
}

.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    width: 80%;
    border-radius: 16px;
    box-shadow: 8px;
    text-align: center;
    margin: auto;
    padding: 10px;
}

.card {
    width: 20em;
    height: 30em;
    margin: 10px 5px;
    padding: 20px;
    background-position: center;
    border: solid 1px rgb(35, 35, 35);
    border-radius: 12px;
    box-shadow: 0px 0px 5px black;
    transition: 0.3s ease-out;
}

.card:hover{
    cursor:pointer;
    box-shadow: inset 0 0 0 1000px rgba(117, 117, 117, 0.1);
    transition: 0.2s ease-in;
    scale:109%;
    margin: 0px 25px;
}

.card h2{
    margin: auto;
    text-align: center;
    text-decoration: solid;
    text-wrap: nowrap;
    color: rgb(206, 208, 206);
}