html{
    padding:0;
    margin:0;
}

body {
    height:100vh;
    margin:0;
    padding:0;
    background:black;   
    color: white;
    font-family: "Candara", sans-serif;
    display: flex;
    flex-direction: column;
}

header {
   text-align: center;
}

.project {
    flex:1;
    background:white;   
    color: black;
    display: flex;
}

.card {
    flex:1;
    height: 100%;
    padding: 20px;
    background-color: black;
    border: solid 2px rgb(35, 35, 35);
    transition: flex 0.3s ease-in-out;
    box-sizing: border-box;
}

.card:hover{
    cursor:pointer;
    box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.3);
    flex: 1.5;
}

.card h2{
    margin: auto;
    text-align: center;
    color: white;
}