html {
    background-color: black;
    font-family: "Trebuchet MS", sans-serif;

}
head {
    text-align: center;
    margin: 10px;
    padding: 10px;
}


.projects {
    width: 70%;
    border-radius: 16px;
    box-shadow: 8px;
    background-color: #14213D;
}

.projects a {
    text-decoration: none;
    color: black;
}

.card {
    width: 80%;
    border-radius: 8px;
}